<div>
<%= form_for :message do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Post a new message" %>
  </div>
  <%= f.submit class: "btn btn-primary", value: "Post message" %>
<% end %>
</div>