<div class="row">
<%= form_for :message do |f| %>
  <div class="input-field col s12">
    <%= f.text_area :content, class: "materialize-textarea", placeholder: "Post a new message" %>
  </div>
  <%= f.submit class: "btn light-blue", value: "Post message" %>
<% end %>
</div>
