<div class="container">
  <h1 class="center">Your Local Feed</h1>
  <div id="leon_rules">
    <%= react_component("MessageBox",
                        {presenter: @presenter.to_json} ) %>

  </div>
</div>
