<div class="container">
  <h2 class="center">Community NewsFeed</h2>
  <%= render partial: "message", collection: @messages %>
  <% if @current_user %>
    <%= render partial: "messages/form" %>
  <% end %>
</div>
