<div class="row">
  <%= form_for [commentable, Comment.new], :html => {:class => "col s12"} do |f| %>
    <div class="input-field col s12">
      <%= f.text_area :content, :class => "materialize-textarea", placeholder: "Add a comment" %>
    </div>
    <div class="col s6">
      <%= f.submit(:class => "btn-flat", :value => "Add Comment") %>
    </div>
  <% end %>
</div>
