<div class="section">
  <h1><%= dog.name %></h1>
  <div class="row">
    <div class="col s4">
      <img class="circle responsive-img" src="http://www.dog-names-and-more.com/dog-names-fb.jpg">
    </div>
    <div class="col s8">
      <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><%= dog.name %>'s Friends</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Edit </div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Third</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="divider"></div>
