<div id="map" name="<%= @location_array %>">hello</div>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#pet_stores">Pet Stores</a></li>
        <li class="tab col s3"><a class="active" href="#dog_parks">Dog Parks</a></li>
        <li class="tab col s3"><a href="#vets">Vets</a></li>
        <li class="tab col s3"><a href="#closest_dogs">Closest Dogs</a></li>
      </ul>
    </div>
    <div id="pet_stores" class="col s12">
      <%= render partial: "pet_stores_map"%>
    </div>
    <div id="dog_parks" class="col s12">
      <%= render partial: "dog_parks_map"%>
    </div>
    <div id="vets" class="col s12">Test 3</div>
    <div id="closest_dogs" class="col s12">
      <%= render partial: "dogs_map"%>
    </div>
</div>

