<div>
  <h3><%= direct_conversation.subject %></h3>
  <p>...A conversation between <%= direct_conversation.participants(@user) %></p>
  <%= render partial: "private_messages/private_message", collection: direct_conversation.private_messages, as: :message %>
  <%= render partial: "private_messages/form", locals: {direct_conversation: direct_conversation, private_message: @private_message} %>
</div>