<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <a href="#!" onclick="Materialize.showStaggeredList('#staggered-test')"><img src="../assets/dog-friends.jpg" class="circle hoverable"/></a>
      <ul id="staggered-test">
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/users/<%= @user.id %>/dogs">Manage Dogs</a></h5>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l4">
      <a href="#!" onclick="Materialize.showStaggeredList('#staggered-test2')"><img src="../assets/human-dog.jpg"class="circle hoverable"/></a>
      <ul id="staggered-test2">
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a style="text-transform: capitalize;"class="waves-effect waves-light btn-flat modal-trigger3 light-blue-text" href="#edit-modal">Edit Your Account</a></h5>
        </li>
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/messages">Community Messages</a></h5>
        </li>
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/direct_conversations">Private Messages</a></h5>
        </li>
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/events">Events</a></h5>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l4">
      <a href="#!" onclick="Materialize.showStaggeredList('#staggered-test3')"><img src="../assets/dog_map_1.jpg" class="circle hoverable"/></a>
      <ul id ="staggered-test3">
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/maps">Dog Parks</a></h5>
        </li>
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/maps">Pet Stores</a></h5>
        </li>
        <li class="" style="transform: translateX(0px); opacity: 0;">
          <h5><a class="light-blue-text" href="/maps">Closest Dogs</a></h5>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="edit-modal" class="modal">
  <div class="modal-content">
    <%= render partial: "edit"%>
  </div>
</div>

<script type="text/javascript">
    $(window).load(function(event){
    event.preventDefault();

    $.ajax({
      method: "POST",
      url: "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCxHSsHvEIld84HHYj5nvetfW6cV7gYNAs",
      success: function(response) {
        console.log(response)

        $.ajax({
          method: "POST",
          url: "/users/sync_location",
          data: response,
          success: function(response) {

            }
          })
        }
      })
    });
</script>
