<div class="row">
  <%= form_for [commentable, Comment.new], :html => {:class => "col s12"} do |f| %>
    <div class="input-field col s12">
      <%= f.text_area :content, :class => "materialize-textarea", placeholder: "Add a comment" %>
    </div>
    <%= f.submit(:class => "btn light-blue", :value => "Comment")%>
  <% end %>
</div>
