<ul class="collection">
  <% commentable.comments.each do |comment| %>
    <li class="collection-item">
      <p><%= comment.content %></p>
      <p><%= comment.commenter.username %></p>
    </li>
  <% end %>
</ul>
