<ul class="collection">
  <% commentable.comments.each do |comment| %>
    <li class="collection-item">
      <h6><%= comment.content %></h6>
      <h6><%= comment.commenter.username %></h6>
    </li>
  <% end %>
</ul>
