<div class="container">
  <h1 class="center">Your Local Events</h1>
  <div class="row">
    <%= render partial: "event", collection: @events %>
  </div>
  <h1 class="center">Your Pack's Invitations</h1>
  <div class="row">

  </div>
</div>
