<div class="row">
  <%= form_for private_message, as: :private_message, url:  direct_conversation_private_messages_path(direct_conversation), html: {:class => "new_private_message col s12"} do |f| %>
    <div class="input-field col s12">
      <%= f.text_area :content, :class => "materialize-textarea", placeholder: "Write a new message" %>
    </div>
    <%= f.submit :class => "btn-flat", value: "Send message" %>
  <% end %>
</div>
